<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update existing departments</h1>
    <br><br><br><br>
    <h3>Below departments are in exixtence try to update within them</h3> 
    <ul>
        {% for l in tup %} 
            <li>Press {{l[0]}} to update {{l[1]}}</li>
        {% endfor %} 
    </ul>
    <form name="passdata" action="/boss/departmentUpdate" method="post">

        <label>Department ID : </label> 
        <input type="number" name="pid" required>
        <br><br><br><br>

        <label>Name : </label> 
        <input type="text" name="name" required>
        <br><br><br><br>
        
        <input type="submit" value="submit">
    </form>
    <h1>{{mg}}</h1>
</body>
</html>