<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Posts Section </h1>    
    <h4>All Posts releted issue must be handeled here by the boss </h4>
    <br><br><br><br>
    <div>
        <a href = "/boss/Posts_ADD"><h1>Add a new Posts numbers</h1></a>
        <h3>If you are here to add a new department Posts numbers then click here</h3>      
    </div>
    <br><br><br>
    <div>
        <a href = "/boss/PostsUpdate"><h1>Update an existing Posts numbers</h1></a>
        <h3>If you are here to update the Posts numbers Amount of an existing department then click here</h3> 
    </div>

</body>
</html>