<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
            /*margin-top: 90px;
            border: 3px;*/
            background-color:rgb(233, 60, 233);
        }
        .tot {
            margin-top: 90px;
            border-width: 3px ;
            border-style:  solid;
            border-color: black;
            width: 50%;
            margin-left: 25%;
        }
    </style>
</head>
<body class="tot">
    <h1>Employer's Holiday want</h1>
    <form name="passdata" action="/emp/HolydayWant" method="post">
        <label>email : </label>
        <input type="text" name="email">
        <br><br><br><br>
        <label>No of holidays you want : </label>
        <input type="number" name="holi">
        <br><br><br><br>
        <input type="submit" value="submit">
    </form>
    <br><br>
    <h1>{{xman}}</h1>
</body>
</html>